%header
  .info-container.row
    .logo.col-sm-4.text-center
      =image_tag 'ptmi-logo.png', class: 'logo-img'
    %span#one
    .name.col-sm-8
      %ul.text-center
        %li#company Pro-Tek Mechanical
        %li
          .row.text-center.details
            .col-xs-6#phone.text-center
              %p 24-Hour Phone:
              %p
                %a{href: "tel:18475400955"} (847) 540-0955
            .col-xs-6#area.text-center Chicago & Surrounding Suburbs
  .row.nav#nav.text-center.hidden-xs
    .col-sm-2.text-center.nav-items
      %a{ href: "#one"}
        .nav-item
          About
    .col-sm-2.text-center
      %a{ href: "#two"}
        .nav-item
          Commercial
    .col-sm-2.text-center
      %a{ href: "#three"}
        .nav-item
          Residential
    .col-sm-2.text-center
      %a{ href: "#four"}
        .nav-item
          Pharmaceutical/Lab
    .col-sm-2.text-center
      %a{ href: "#five"}
        .nav-item
          Contact
    .col-sm-2.text-center
      %a{ href: "#six"}
        .nav-item
          Safety
    .row
      .col-sm-12#banner
        Celebrating 15 years of business!
%body
  %span#two
  #slide1.container
    .heading About
    .sub-heading
      Complete customer satisfaction is our goal!
    .sub-text
      Pro-Tek Mechanical, Inc. is committed to fulfilling the installation, service, and maintenance needs of our industrial, commercial, and residential customers. We have combined the area's most talented individuals with the latest in system technology and training, which results in greater efficiency, lower costs, and better customer value. Our mission is to deliver value and satisfaction, period.
  %span#three
  #slide2.container
    .heading Commercial
    .sub-heading
      We specialize in maintaining, installing and trouble shooting mechanical systems.
    .sub-text
      Our team consists of professional technicians with an average of 25 years experience in the HVAC industry. We are a full service contractor with the ability to service any type of heating or air conditioning system. We can provide cost effective solutions to your specific requirements. We also offer service maintenance contracts that can be tailored to your company’s needs.
  #slide3.container
    .heading Residential
    %span#four
    .sub-heading
      We are happy to provide you 24 hour service, 365 days of the year.
    .sub-text
      With energy costs on the rise it's important that you have your heating and cooling equipment serviced regularly to ensure optimum efficiency, reliability, and safety. We carry a wide variety of energy-saving thermostats, air filtration, and humidification products. Protect your equipment with Pro-Tek!
  #slide4.container
    .heading Pharmaceutical/Lab
    .sub-heading
      Piping
    .sub-text
      We supply and install piping systems for lab equipment, distribution panels, dry coolers, chillers, etc.
    .sub-heading
      Hydrostatic Pressure Testing
    .sub-text
      We perform hydrostatic pressure tests on piping, heat exchangers, vessels, and jacketed tanks.
    .sub-heading
      Lab Hood Maintenance/Installation
    .sub-text
      We install, service, and perform semi-annual maintenance on lab hoods, stability chambers, and exhaust systems.
    .sub-heading
      Stability Chambers
    .sub-text
      We are factory trained for service and installation of Parmater Generation and Control Stability Chambers and Rooms.
    .sub-heading
    %span#five
      Lab Washer
    .sub-text
      We are factory trained for service and installation of Lancer Lab Washers.
    .sub-heading
      Chillers
    .sub-text
      We are the northern Illinois Service Contractor for Green Box Chillers.
    .sub-heading
      Plantwide Maintenance/Shutdown Services
    .sub-text
      We have over 15 years experience with the planning and execution of shutdown maintenance projects.
  #slide5.container
    .heading Contact
    .sub-heading
      24 Hour Phone
    .sub-text
      (847) 540-0955
    .sub-heading
      Fax
      %span#six
    .sub-text
      (847) 540-9072
    .sub-heading
      Mailing Address
    .sub-text
      PRO-TEK MECHANICAL, INC.
      %br
      740 TELSER RD.
      %br
      LAKE ZURICH, IL. 60047
    .sub-heading
      Email
    .sub-text
      =mail_to 'info@pro-tekmechanical.com', 'info@pro-tekmechanical.com'
    .row.hidden
      %button.btn.btn-primary.pull-right#contact_modal
        Send Inquiry
  #slide6.container
    .heading Safety
    .sub-heading
    .sub-text
      We all need to do our part to ensure the safety of our employees, our customers, their property and the general public we encounter daily. Through instructional classes, common sense practices, and the safety programs and policies that have been implemented, Pro-Tek Mechanical, Inc. strives to provide the safest work environment possible.
%footer.footer
  .partner-companies.row.text-center
    .col-sm-2.vertical-align.hidden-xs
      =link_to image_tag('pgc.png') , "http://humiditycontrol.com/", target: '_blank', id: 'pgc'
    .col-sm-2.vertical-align.hidden-xs
      =link_to image_tag('lancer.png'), 'http://www.lancer.com/', target: '_blank', id: 'lancer'
    .col-sm-4.vertical-align
      .mailing-list-container
        %a.btn.btn-primary{"data-toggle" => "modal", :href => "#myModal"}
          Join our mailing list!
    .col-sm-2.vertical-align.hidden-xs
      =link_to image_tag('greenbox.png'), 'http://www.greenboxchillers.com/', target: '_blank', id: 'greenbox'
    .col-sm-2.vertical-align.hidden-xs
      =link_to image_tag('facebook.png'), 'https://www.facebook.com/Pro-Tek-Mechanical-Inc-179050278872381/', target: '_blank', id: 'facebook'
  .sub-footer.row.text-center.hidden-xs
    .col-sm-4#credit Design by Colleen McGuckin
    .col-sm-4 Copyright (c) 2016 Pro-Tek Mechanical, Inc. All Rights Reserved.
    .col-sm-4#gear.pull-right
      =image_tag('gear.png')
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
        %h4.modal-title Join Our Mailing List:
      .modal-body
        = simple_form_for(@recipient, url: '/') do |form|
          =form.input :first_name
          =form.input :last_name
          =form.input :email
          =form.submit 'Sign Up!'
:coffee
  $ ->

    if window.innerWidth > 760
      windowScrollTop = ->
        window.pageYOffset

      Menu = ((scrollOffset) ->
        `var Menu`

        Menu = ->
          @element = document.getElementById('nav')
          @element.className = 'docked'
          @docked = false
          @initialOffsetTop = 0
          @resetInitialOffsetTop()
          return

        Menu.prototype =
          offsetTop: ->
            @element.offsetTop
          resetInitialOffsetTop: ->
            @initialOffsetTop = @offsetTop()
            return
          dock: ->
            @element.className = 'docked'
            @docked = true
            return
          undock: ->
            @element.className = @element.className.replace('docked', 'undocked')
            @docked = false
            return
          toggleDock: ->
            if @docked == false and @offsetTop() - scrollOffset() < 0
              @dock()
            else if @docked == true and scrollOffset() <= @initialOffsetTop
              @undock()
            return
        Menu
      )(windowScrollTop)
      menu = new Menu

      window.onscroll = ->
        menu.toggleDock()
        return

      updateMenuTop = ->
        # Shortly dock to reset the initial Y-offset
        menu.undock()
        menu.resetInitialOffsetTop()
        # If appropriate, undock again based on the new value
        menu.toggleDock()
        return

      zoomListeners = [ updateMenuTop ]
      do ->
        w = window
        d = document
        e = d.documentElement
        g = d.getElementsByTagName('body')[0]
        lastWidth = 0

        pollZoomFireEvent = ->
          widthNow = w.innerWidth or e.clientWidth or g.clientWidth
          if lastWidth == widthNow
            return
          lastWidth = widthNow
          # Length changed, user must have zoomed, invoke listeners.
          i = zoomListeners.length - 1
          while i >= 0
            zoomListeners[i]()
            --i
          return

        setInterval pollZoomFireEvent, 100
        return
