/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .logo, .name div{
   text-align: center;
}
.name ul {
  text-decoration: none;
  list-style: none;
  width: 80%;
}
.name ul li {
  list-style: none;
}
.logo-img{
  width: 100%;
  margin: auto;
  height: 100%;
  margin-left: 50px;
}
.info-container div{
  display: inline-block;
  padding-top: 20px;
}
.nav{
  text-align: center;
}
.nav a{
  margin: 10px;
}
header{
  box-shadow: 0px 0px 3px #888888;
  background-color: #F5F5F5;
  overflow:hidden;
  width: 100%;
  position: relative;
}
footer div ul li{
  display: inline-block;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}
body{
  background-image: url('bg-image.png');
  background-size: 1000px 800px;
  position: absolute;
  z-index: -2;
  height: 100%;
}
.container{
  // background-color: white;
  // opacity: .5;
  margin: 50px auto;
  padding: 25px;
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  width: 80%;
}
#company{
  font-size: 52px;
  text-align: center;
  color: #1D2150;
  font-style: italic;
  margin-bottom: -40px;
}
.heading{
  text-align: center;
  font-size: 24px;
  color: #1D2150;
}
#nav.docked {
  position: fixed;
  top: 0px;
  background-color: #F5F5F5;
  width: 100%;
  box-shadow: 0px 0px 3px #888888;
  max-height: 70px;
  text-align: center;
}
#nav.undocked {
  width: 100%;
  max-height: 70px;
  text-align: center;
  padding: 10px;
}
#nav.docked a.nav-item__link {
  color: #000;
  padding: 15px;
}
#nav.docked .nav-item a:hover {
  background-color: rgba(255, 205, 0, 0.1);
}
.mailing-list-container {
  display: block;
}
.vertical-align {
  vertical-align: middle;
  margin-top: 15px;
}
#pgc img{
  width: 50%;
  margin-top: -10px;
}
#lancer img{
  width: 80%;
  margin-top: 5px;
}
#greenbox img{
  width: 100%;
}
#facebook img{
  width: 25%;
  margin-top: -3px;
}
.partner-companies {
  margin: auto;
}
.nav-items {
  text-align: center;
}
.nav-item{
  color: #1D2150;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  line-height: 10px;
  vertical-align: middle;
  padding-bottom: 15px;
  padding-top: 15px;
}
.nav-items a{
  text-decoration: none;
  color: #1D2150;
}
.nav-items a:visited{
  text-decoration: none;
  color: #888;
}
.nav-items a:hover{
  text-decoration: none;
  color: #C30000;
}
#phone {
  color: #C30000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  line-height: 10px;
  vertical-align: middle;
}
#area {
  color: #1D2150;
  text-transform: uppercase;
  font-weight: semi-bold;
  font-size: 16px;
  display: inline-block;
  line-height: 15px;
  vertical-align: middle;
}
.details ul li {
  display: inline-block;
}
.details {
  width: 100%;
}
#phone a {
  text-decoration: none;
  color: #C30000;
}
#phone a:hover {
  text-decoration: underline;
  color: #C30000;
  font-style: italic;
}
#banner {
  background-color: #C30000;
  color: white;
  height: 25px;
  vertical-align: middle;
  text-transform: uppercase;
  font-style: italic;
  font-weight: semi-bold;
  font-size: 16px;
  padding:2px;
}
